<div class="home-page">
  <h1>ParkFinder</h1>
  <p>Click the button to see your ip address</p>
  <p>(Soon to be something more)</p>

  <%= link_to "CLICK ME", welcome_show_path, class: 'btn btn-default' %>
</div>