<div class="home-page">
  <h1>AdventureSearch</h1>
  <p> Click the button to see the 3 closest adventure areas to your location </p>

  <%= form_for @location do |l| %>
    <br>
    <%= l.submit "GO!", class: 'btn btn-default' %>
  <% end %>
</div>